.form {
  width: 100%;
  margin: 2rem 0;

  &-group-triple {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0rem 1rem 2rem 0;

    &-title {
      font-size: 1.6rem;
      margin: 1rem 0;
      width: 100%;
      justify-self: flex-start;
    }

    @media only screen and (max-width: $large) {
      width: 100%;
      margin: 0 0 2rem 0;
    }

    label {
      font-size: 1.6rem;
      margin: 1rem 0;
    }

    button {
      padding: 1rem 2rem;
      font-size: 1.4rem;
      outline: none;
      border: none;
      border-radius: 0.5rem;
      color: white;
      background-color: $color-scheme-1;

      &:hover {
        cursor: pointer;
      }
    }

    &-input {
      border-radius: 1.2rem;
      display: flex;
      align-items: center;
      position: relative;
      border: 0.1rem solid $color-light-shade-scheme-1;

      textarea {
        flex-grow: 1;
        border-radius: 1.2rem;
        resize: none;
        padding: 1.2rem 2rem 0 2rem;
        outline: none;
        font-size: 1.4rem;
        font-family: inherit;
        border: none;
      }

      svg {
        width: 3rem;
        height: 3rem;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &-error {
    &-message {
      font-size: 1.4rem;
      color: red;
    }
  }
}
